{% extends 'users/base.html' %}
{% block content %}
    {% load widget_tweaks %}

    <h1 class="font-semibold text-4xl text-blue-700 text-center">{{ request.user.vendor.name }}</h1>

    <div class="flex w-2/3 mx-auto justify-around mt-12  rounded py-8 px-4">
        <div class="w-64 border-2 bg-gray-200 border-white py-12 text-orange-700 text-2xl text-center font-sans">
            <span class="font-semibold block text-4xl">{{ vendor.bills.all|length }}</span> Bills Processed
        </div>
        <div class="w-64 border-2 bg-gray-200 border-white py-12 text-orange-700 text-2xl text-center font-sans">
            <span class="font-semibold block text-4xl">{{ vendor.payments.all|length }}</span> Payments Executed
        </div>
    </div>

{% endblock %}